In [1]:
import pandas

In [2]:
dataset=pandas.read_csv("SalaryData.csv")

In [3]:
dataset.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
x=dataset["YearsExperience"]

In [6]:
x.head()

0    1.1
1    1.3
2    1.5
3    2.0
4    2.2
Name: YearsExperience, dtype: float64

In [7]:
y=dataset["Salary"]

In [8]:
y.head()

0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
Name: Salary, dtype: float64

In [9]:
from sklearn.linear_model import LinearRegression

In [13]:
model=LinearRegression()

In [14]:
X=x.values.reshape(30,1)

In [15]:
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [30]:
value=float(model.predict([[10.4]]))

In [31]:
value

124071.80834180149

In [33]:
model.coef_

array([9449.96232146])

In [34]:
model.intercept_

25792.20019866871