In [2]:
import pandas

In [3]:
dataset=pandas.read_csv("SalaryData.csv")

In [4]:
dataset.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [5]:
x=dataset["YearsExperience"]

In [6]:
x.head()

0    1.1
1    1.3
2    1.5
3    2.0
4    2.2
Name: YearsExperience, dtype: float64

In [7]:
y=dataset["Salary"]

In [8]:
y.head()

0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
Name: Salary, dtype: float64

In [9]:
from sklearn.linear_model import LinearRegression

In [10]:
model=LinearRegression()

In [11]:
X=x.values.reshape(30,1)

In [12]:
from sklearn.model_selection import train_test_split

In [37]:
X_train,X_test,y_train,y_test= train_test_split(X,y, test_size=0.30, random_state=42)

In [38]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [39]:
value=model.predict(X_test)

In [41]:
value

array([115573.62288352,  71679.93878159, 102498.90847018,  75415.57147111,
        55803.4998511 ,  60473.04071301, 122110.98009019, 107168.44933209,
        63274.76523015])

In [42]:
y_test

27    112635.0
15     67938.0
23    113812.0
17     83088.0
8      64445.0
9      57189.0
28    122391.0
24    109431.0
12     56957.0
Name: Salary, dtype: float64

In [29]:
from sklearn import metrics

In [43]:
metrics.mean_squared_error(value,y_test)

37784662.46621314

In [16]:
model.coef_

array([9449.96232146])

In [17]:
model.intercept_

25792.20019866871

In [20]:
from sklearn.externals import joblib

In [19]:
joblib.dump(model, "salary_model.pk1")

['salary_model.pk1']